#calendarContainer {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 300px;
}

#calendarHeader {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

p {
    display: inline-flex;
}