#calendarContainer {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 150px 300px;
}

#calendarHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

span {
    font-size: 20px;
}

.month-year {
    display: inline;
}

#daysContainer {
    display: flex;
    justify-content: space-around;
}